In [1]:
import pandas as pd
import numpy as np

/Users/jamesmcgreevy/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df_AMEX = pd.read_csv('Data/AMEX_01071962_31121999_with_out_shares.csv')
df_NYSE = pd.read_csv('Data/NYSE_01071962_31121999_with_out_shares.csv')

# Are these all common shares? Hard to tell if there are any preference shares involved. Possibly share class might say but this usually means it is common

df_AMEX_NYSE = pd.concat([df_AMEX, df_NYSE], axis=0)

/Users/jamesmcgreevy/.pyenv/versions/3.10.0/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3460: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
'''row_index = df_AMEX.index[df_AMEX['RET'] == 'C'].tolist()
print(row_index)
if row_index:
    print(f"Found at row {row_index[0]}")
else:
    print('Not found')
'''

# Remove rows from df where return value was C
df_AMEX_NYSE = df_AMEX_NYSE[df_AMEX_NYSE['RET'] != 'C']

df_AMEX_NYSE

,PERMNO,date,EXCHCD,COMNAM,PRC,VOL,RET,SHROUT
0,10028,1992-03-18,2,AMERICAN PACIFIC MINT INC,3.000,17400.0,-0.111111,5548.0
1,10028,1992-03-19,2,AMERICAN PACIFIC MINT INC,3.125,8700.0,0.041667,5548.0
2,10028,1992-03-20,2,AMERICAN PACIFIC MINT INC,3.125,1200.0,0.000000,5548.0
3,10028,1992-03-23,2,AMERICAN PACIFIC MINT INC,2.875,3900.0,-0.080000,5548.0
4,10028,1992-03-24,2,AMERICAN PACIFIC MINT INC,2.875,2000.0,0.000000,5548.0
...,...,...,...,...,...,...,...,...
15956188,93201,1990-02-15,1,WYSE TECHNOLOGY,9.875,6500.0,-0.012500,14843.0
15956189,93201,1990-02-16,1,WYSE TECHNOLOGY,9.750,5700.0,-0.012658,14843.0
15956190,93201,1990-02-20,1,WYSE TECHNOLOGY,9.875,13100.0,0.012821,14843.0
15956191,93201,1990-02-21,1,WYSE TECHNOLOGY,9.750,5000.0,-0.012658,14843.0
15956192,93201,1990-02-22,1,WYSE TECHNOLOGY,NaN,NaN,NaN,NaN

In [4]:
# Do some tidying up. Create new columns for year and month
df_AMEX_NYSE['year'] = df_AMEX_NYSE['date'].apply(lambda x: x[:4])
df_AMEX_NYSE['month'] = df_AMEX_NYSE['date'].apply(lambda x: x[5:7])

# Change string values to float
df_AMEX_NYSE['RET'] = df_AMEX_NYSE['RET'].astype(float)
df_AMEX_NYSE['PRC'] = df_AMEX_NYSE['PRC'].astype(float)
df_AMEX_NYSE['VOL'] = df_AMEX_NYSE['VOL'].astype(float)
df_AMEX_NYSE['SHROUT'] = df_AMEX_NYSE['SHROUT'].astype(float)

In [5]:
df_AMEX_NYSE = df_AMEX_NYSE.sort_values(['PERMNO', 'date'])

In [6]:
df_AMEX_NYSE

,PERMNO,date,EXCHCD,COMNAM,PRC,VOL,RET,SHROUT,year,month
0,10006,1962-07-02,1,A C F INDUSTRIES INC,62.00000,1700.0,0.050847,1453.0,1962,07
1,10006,1962-07-03,1,A C F INDUSTRIES INC,61.12500,2800.0,-0.014113,1453.0,1962,07
2,10006,1962-07-05,1,A C F INDUSTRIES INC,61.00000,2200.0,-0.002045,1453.0,1962,07
3,10006,1962-07-06,1,A C F INDUSTRIES INC,60.50000,2300.0,-0.008197,1453.0,1962,07
4,10006,1962-07-09,1,A C F INDUSTRIES INC,61.00000,900.0,0.008264,1453.0,1962,07
...,...,...,...,...,...,...,...,...,...,...
8603597,93236,1998-09-14,2,PACIFIC PHARMACEUTICALS INC,0.18750,24900.0,-0.250000,11257.0,1998,09
8603598,93236,1998-09-15,2,PACIFIC PHARMACEUTICALS INC,0.25000,29000.0,0.333333,11257.0,1998,09
8603599,93236,1998-09-16,2,PACIFIC PHARMACEUTICALS INC,0.25000,55600.0,0.000000,11257.0,1998,09
8603600,93236,1998-09-17,2,PACIFIC PHARMACEUTICALS INC,0.18750,29200.0,-0.250000,11257.0,1998,09
8603601,93236,1998-09-18,2,PACIFIC PHARMACEUTICALS INC,0.21875,28700.0,0.166667,11272.0,1998,09

In [7]:
df_AMEX_NYSE = df_AMEX_NYSE.set_index(['PERMNO', 'year', 'month', 'date'])

In [8]:
df_AMEX_NYSE

                              EXCHCD                       COMNAM       PRC  \
PERMNO year month date
10006  1962 07    1962-07-02       1         A C F INDUSTRIES INC  62.00000
                  1962-07-03       1         A C F INDUSTRIES INC  61.12500
                  1962-07-05       1         A C F INDUSTRIES INC  61.00000
                  1962-07-06       1         A C F INDUSTRIES INC  60.50000
                  1962-07-09       1         A C F INDUSTRIES INC  61.00000
...                              ...                          ...       ...
93236  1998 09    1998-09-14       2  PACIFIC PHARMACEUTICALS INC   0.18750
                  1998-09-15       2  PACIFIC PHARMACEUTICALS INC   0.25000
                  1998-09-16       2  PACIFIC PHARMACEUTICALS INC   0.25000
                  1998-09-17       2  PACIFIC PHARMACEUTICALS INC   0.18750
                  1998-09-18       2  PACIFIC PHARMACEUTICALS INC   0.21875

                                  VOL       RET   SHROUT
PERMNO year month date
10006  1962 07    1962-07-02   1700.0  0.050847   1453.0
                  1962-07-03   2800.0 -0.014113   1453.0
                  1962-07-05   2200.0 -0.002045   1453.0
                  1962-07-06   2300.0 -0.008197   1453.0
                  1962-07-09    900.0  0.008264   1453.0
...                               ...       ...      ...
93236  1998 09    1998-09-14  24900.0 -0.250000  11257.0
                  1998-09-15  29000.0  0.333333  11257.0
                  1998-09-16  55600.0  0.000000  11257.0
                  1998-09-17  29200.0 -0.250000  11257.0
                  1998-09-18  28700.0  0.166667  11272.0

[24553720 rows x 6 columns]

In [9]:
# Really important, from CRSP website: 'Sometimes you see negative stock prices in CRSP. This means that there was no closing price available for that period. 
# Instead the bid/ask average was used. To distinguish the bid/ask averages from actual closing prices, CRSP puts a leading dash in front of the price when the bid/ask average was used.'
# Hence we need to multiply any PRC with a dash in front by -1 to get a positive price
df_AMEX_NYSE[df_AMEX_NYSE['PRC'] <= 0]

                              EXCHCD                       COMNAM       PRC  \
PERMNO year month date
10006  1963 06    1963-06-28       1         A C F INDUSTRIES INC -96.87500
       1976 06    1976-06-01       1         A C F INDUSTRIES INC -48.62500
       1978 01    1978-01-20       1         A C F INDUSTRIES INC -31.87500
10014  1975 01    1975-01-27       1           A J INDUSTRIES INC  -1.31250
            04    1975-04-03       1           A J INDUSTRIES INC  -1.81250
...                              ...                          ...       ...
93236  1996 09    1996-09-10       2                 XYTRONYX INC  -2.03125
       1997 01    1997-01-02       2                 XYTRONYX INC  -1.31250
            04    1997-04-09       2                 XYTRONYX INC  -1.18750
            10    1997-10-20       2  PACIFIC PHARMACEUTICALS INC  -1.50000
       1998 08    1998-08-19       2  PACIFIC PHARMACEUTICALS INC  -0.37500

                              VOL       RET   SHROUT
PERMNO year month date
10006  1963 06    1963-06-28  0.0  0.003886   1453.0
       1976 06    1976-06-01  0.0  0.002577   5783.0
       1978 01    1978-01-20  0.0  0.003937   8731.0
10014  1975 01    1975-01-27  0.0  0.050000   5077.0
            04    1975-04-03  0.0  0.035714   5077.0
...                           ...       ...      ...
93236  1996 09    1996-09-10  0.0  0.015625   8051.0
       1997 01    1997-01-02  0.0  0.050000   8132.0
            04    1997-04-09  0.0  0.000000   8132.0
            10    1997-10-20  0.0  0.000000   8467.0
       1998 08    1998-08-19  0.0  0.200000  11257.0

[1439766 rows x 6 columns]

In [10]:
df_AMEX_NYSE['PRC'] = df_AMEX_NYSE['PRC'].apply(lambda x: -x if x < 0 else x)

In [11]:
# Now that the prices are corrected, add column for dollar vol and market cap in millions
df_AMEX_NYSE['DOLLAR VOL'] = ((df_AMEX_NYSE['VOL'] * df_AMEX_NYSE['PRC']) / 1_000_000)
df_AMEX_NYSE['MKT CAP'] = ((df_AMEX_NYSE['PRC'] * df_AMEX_NYSE['SHROUT']) / 1_000_000)

In [12]:
# We remove any stock with beginning of the month price outside the range of (5, 1000)
rows_to_delete_on_price = []

df_AMEX_NYSE_grouped = df_AMEX_NYSE.groupby(['PERMNO', 'year', 'month'])
for (name, year, month), group in df_AMEX_NYSE_grouped:
    row_one = group.iloc[0]
    if (5 <= row_one['PRC'] <= 1000) == False:
        rows_to_delete_on_price.append((name, year, month))

# We drop them from our main dataframe. This will help us form the market portfolio shortly
index_names = df_AMEX_NYSE.index.names[:3]
df_AMEX_NYSE = df_AMEX_NYSE.reset_index().set_index(index_names)
df_AMEX_NYSE = df_AMEX_NYSE.drop(index=rows_to_delete_on_price)

In [13]:
df_AMEX_NYSE

                         date  EXCHCD                COMNAM      PRC      VOL  \
PERMNO year month
10006  1962 07     1962-07-02       1  A C F INDUSTRIES INC  62.0000   1700.0
            07     1962-07-03       1  A C F INDUSTRIES INC  61.1250   2800.0
            07     1962-07-05       1  A C F INDUSTRIES INC  61.0000   2200.0
            07     1962-07-06       1  A C F INDUSTRIES INC  60.5000   2300.0
            07     1962-07-09       1  A C F INDUSTRIES INC  61.0000    900.0
...                       ...     ...                   ...      ...      ...
93236  1994 09     1994-09-26       2          XYTRONYX INC   4.3750   2700.0
            09     1994-09-27       2          XYTRONYX INC   4.0625  18400.0
            09     1994-09-28       2          XYTRONYX INC   4.0000  29700.0
            09     1994-09-29       2          XYTRONYX INC   4.3750  19500.0
            09     1994-09-30       2          XYTRONYX INC   4.1250  22700.0

                        RET  SHROUT  DOLLAR VOL   MKT CAP
PERMNO year month
10006  1962 07     0.050847  1453.0    0.105400  0.090086
            07    -0.014113  1453.0    0.171150  0.088815
            07    -0.002045  1453.0    0.134200  0.088633
            07    -0.008197  1453.0    0.139150  0.087906
            07     0.008264  1453.0    0.054900  0.088633
...                     ...     ...         ...       ...
93236  1994 09    -0.027778  4813.0    0.011813  0.021057
            09    -0.071429  4813.0    0.074750  0.019553
            09    -0.015385  4813.0    0.118800  0.019252
            09     0.093750  4813.0    0.085312  0.021057
            09    -0.057143  4913.0    0.093637  0.020266

[21249504 rows x 9 columns]

In [14]:
# This is ok since the price at the start of the month was in fact 877
df_AMEX_NYSE[df_AMEX_NYSE['PRC'] >= 1000]

                         date  EXCHCD           COMNAM     PRC       VOL  \
PERMNO year month
21709  1962 11     1962-11-13       1  SUPERIOR OIL CO  1060.0     810.0
            11     1962-11-14       1  SUPERIOR OIL CO  1010.0  118000.0
            11     1962-11-16       1  SUPERIOR OIL CO  1000.0     600.0
            11     1962-11-20       1  SUPERIOR OIL CO  1105.0     940.0
            11     1962-11-21       1  SUPERIOR OIL CO  1140.0     520.0
            11     1962-11-23       1  SUPERIOR OIL CO  1200.0     760.0
            11     1962-11-26       1  SUPERIOR OIL CO  1150.0     990.0
            11     1962-11-27       1  SUPERIOR OIL CO  1160.0     390.0
            11     1962-11-28       1  SUPERIOR OIL CO  1145.0     470.0
            11     1962-11-29       1  SUPERIOR OIL CO  1132.0     300.0
            11     1962-11-30       1  SUPERIOR OIL CO  1140.0    6000.0

                        RET  SHROUT  DOLLAR VOL   MKT CAP
PERMNO year month
21709  1962 11     0.139785   421.0     0.85860  0.446260
            11    -0.047170   421.0   119.18000  0.425210
            11     0.004016   421.0     0.60000  0.421000
            11     0.116162   421.0     1.03870  0.465205
            11     0.031674   421.0     0.59280  0.479940
            11     0.052632   421.0     0.91200  0.505200
            11    -0.041667   421.0     1.13850  0.484150
            11     0.008696   421.0     0.45240  0.488360
            11    -0.012931   421.0     0.53815  0.482045
            11    -0.011354   421.0     0.33960  0.476572
            11     0.007067   421.0     6.84000  0.479940

In [15]:
# This is ok since the price at the start of the month was in fact above 5 (double check)
df_AMEX_NYSE[df_AMEX_NYSE['PRC'] <= 5]

                         date  EXCHCD              COMNAM     PRC      VOL  \
PERMNO year month
10014  1966 05     1966-05-16       1  A J INDUSTRIES INC  4.7500  36000.0
            05     1966-05-17       1  A J INDUSTRIES INC  4.6250  26300.0
            05     1966-05-18       1  A J INDUSTRIES INC  5.0000  17100.0
            08     1966-08-11       1  A J INDUSTRIES INC  5.0000   3600.0
            08     1966-08-12       1  A J INDUSTRIES INC  5.0000  10500.0
...                       ...     ...                 ...     ...      ...
93236  1994 09     1994-09-26       2        XYTRONYX INC  4.3750   2700.0
            09     1994-09-27       2        XYTRONYX INC  4.0625  18400.0
            09     1994-09-28       2        XYTRONYX INC  4.0000  29700.0
            09     1994-09-29       2        XYTRONYX INC  4.3750  19500.0
            09     1994-09-30       2        XYTRONYX INC  4.1250  22700.0

                        RET  SHROUT  DOLLAR VOL   MKT CAP
PERMNO year month
10014  1966 05    -0.116279  3369.0    0.171000  0.016003
            05    -0.026316  3369.0    0.121637  0.015582
            05     0.081081  3369.0    0.085500  0.016845
            08    -0.024390  3369.0    0.018000  0.016845
            08     0.000000  3369.0    0.052500  0.016845
...                     ...     ...         ...       ...
93236  1994 09    -0.027778  4813.0    0.011813  0.021057
            09    -0.071429  4813.0    0.074750  0.019553
            09    -0.015385  4813.0    0.118800  0.019252
            09     0.093750  4813.0    0.085312  0.021057
            09    -0.057143  4913.0    0.093637  0.020266

[214689 rows x 9 columns]

In [16]:
# Get the number of valid observation days in each month
df_valid_obs_days = df_AMEX_NYSE.groupby(level=['PERMNO', 'year', 'month'])['date'].count()
df_valid_obs_days.to_frame()

                   date
PERMNO year month
10006  1962 07       21
            08       23
            09       19
            10       23
            11       20
...                 ...
93236  1994 01       21
            02       19
            03       23
            04       19
            09       21

[1017207 rows x 1 columns]

In [17]:
# The paper only uses stocks for which they have at least 15 days per month of valid values
rows_to_delete_too_few_obs = []

for (name, year, month) in df_valid_obs_days.index:
    #print((name, year, month))
    #print(df_valid_obs_days.loc[(name, year, month)])
    if (df_valid_obs_days.loc[(name, year, month)] < 15):
        rows_to_delete_too_few_obs.append((name, year, month))

# We drop them from our main dataframe as well. This will help us form the market portfolio shortly
df_AMEX_NYSE = df_AMEX_NYSE.drop(index=rows_to_delete_too_few_obs)

In [18]:
# We should now have a working dataframe to create our market portfolios. End preprocessing part here 
df_AMEX_NYSE

                         date  EXCHCD                COMNAM      PRC      VOL  \
PERMNO year month
10006  1962 07     1962-07-02       1  A C F INDUSTRIES INC  62.0000   1700.0
            07     1962-07-03       1  A C F INDUSTRIES INC  61.1250   2800.0
            07     1962-07-05       1  A C F INDUSTRIES INC  61.0000   2200.0
            07     1962-07-06       1  A C F INDUSTRIES INC  60.5000   2300.0
            07     1962-07-09       1  A C F INDUSTRIES INC  61.0000    900.0
...                       ...     ...                   ...      ...      ...
93236  1994 09     1994-09-26       2          XYTRONYX INC   4.3750   2700.0
            09     1994-09-27       2          XYTRONYX INC   4.0625  18400.0
            09     1994-09-28       2          XYTRONYX INC   4.0000  29700.0
            09     1994-09-29       2          XYTRONYX INC   4.3750  19500.0
            09     1994-09-30       2          XYTRONYX INC   4.1250  22700.0

                        RET  SHROUT  DOLLAR VOL   MKT CAP
PERMNO year month
10006  1962 07     0.050847  1453.0    0.105400  0.090086
            07    -0.014113  1453.0    0.171150  0.088815
            07    -0.002045  1453.0    0.134200  0.088633
            07    -0.008197  1453.0    0.139150  0.087906
            07     0.008264  1453.0    0.054900  0.088633
...                     ...     ...         ...       ...
93236  1994 09    -0.027778  4813.0    0.011813  0.021057
            09    -0.071429  4813.0    0.074750  0.019553
            09    -0.015385  4813.0    0.118800  0.019252
            09     0.093750  4813.0    0.085312  0.021057
            09    -0.057143  4913.0    0.093637  0.020266

[21198714 rows x 9 columns]

In [19]:
# Begin market portfolio creation here

In [20]:
# We need to find the return of the market portfolio for each month t. We assume equal weights for now but can amend later if need be.
# First step is to gather the data into year, month combinations
# We also return the market caps as we will need them shortly for illiquidity calcs
AMEX_NYSE_monthly_prices = []
AMEX_NYSE_monthly_caps = []
new_index = []

df_AMEX_NYSE_grouped = df_AMEX_NYSE.groupby(['PERMNO', 'year', 'month'])
for (name, year, month), group in df_AMEX_NYSE_grouped:
    row_one = group.iloc[0]
    row_last = group.iloc[len(group) - 1]
    new_index.append((name, year, month))
    AMEX_NYSE_monthly_prices.append(row_one)
    AMEX_NYSE_monthly_caps.append(row_last)

df_AMEX_NYSE_monthly_prices = pd.DataFrame(AMEX_NYSE_monthly_prices, index=new_index, columns=df_AMEX_NYSE.columns)
df_AMEX_NYSE_monthly_caps = pd.DataFrame(AMEX_NYSE_monthly_caps, index=new_index, columns=df_AMEX_NYSE.columns)

In [21]:
# Now we have a dataframe with just the first data of each month for each year for each stock
df_AMEX_NYSE_monthly_prices.index = pd.MultiIndex.from_tuples(df_AMEX_NYSE_monthly_prices.index, names=['PERMNO', 'year', 'month'])
df_AMEX_NYSE_monthly_prices

                         date  EXCHCD                COMNAM     PRC      VOL  \
PERMNO year month
10006  1962 07     1962-07-02       1  A C F INDUSTRIES INC  62.000   1700.0
            08     1962-08-01       1  A C F INDUSTRIES INC  66.500   2300.0
            09     1962-09-04       1  A C F INDUSTRIES INC  66.000   1700.0
            10     1962-10-01       1  A C F INDUSTRIES INC  62.500   1600.0
            11     1962-11-01       1  A C F INDUSTRIES INC  69.250   2500.0
...                       ...     ...                   ...     ...      ...
93236  1994 01     1994-01-03       2          XYTRONYX INC   8.625  14300.0
            02     1994-02-01       2          XYTRONYX INC   6.750  10200.0
            03     1994-03-01       2          XYTRONYX INC   6.125  33000.0
            04     1994-04-04       2          XYTRONYX INC   5.375  28900.0
            09     1994-09-01       2          XYTRONYX INC   5.250  19200.0

                        RET  SHROUT  DOLLAR VOL   MKT CAP
PERMNO year month
10006  1962 07     0.050847  1453.0    0.105400  0.090086
            08    -0.014815  1453.0    0.152950  0.096625
            09    -0.016760  1453.0    0.112200  0.095898
            10    -0.015748  1453.0    0.100000  0.090813
            11     0.018382  1453.0    0.173125  0.100620
...                     ...     ...         ...       ...
93236  1994 01     0.045455  4073.0    0.123338  0.035130
            02     0.000000  4073.0    0.068850  0.027493
            03     0.065217  4073.0    0.202125  0.024947
            04    -0.022727  4760.0    0.155337  0.025585
            09    -0.066667  4813.0    0.100800  0.025268

[1010498 rows x 9 columns]

In [22]:
# Now we have a dataframe with just the last data of each month for each year for each stock
df_AMEX_NYSE_monthly_caps.index = pd.MultiIndex.from_tuples(df_AMEX_NYSE_monthly_caps.index, names=['PERMNO', 'year', 'month'])
df_AMEX_NYSE_monthly_caps

                         date  EXCHCD                COMNAM     PRC      VOL  \
PERMNO year month
10006  1962 07     1962-07-31       1  A C F INDUSTRIES INC  67.500   2500.0
            08     1962-08-31       1  A C F INDUSTRIES INC  67.125   1700.0
            09     1962-09-28       1  A C F INDUSTRIES INC  63.500   1500.0
            10     1962-10-31       1  A C F INDUSTRIES INC  68.000    400.0
            11     1962-11-30       1  A C F INDUSTRIES INC  72.875   1300.0
...                       ...     ...                   ...     ...      ...
93236  1994 01     1994-01-31       2          XYTRONYX INC   6.750  15200.0
            02     1994-02-28       2          XYTRONYX INC   5.750  11200.0
            03     1994-03-31       2          XYTRONYX INC   5.500  31400.0
            04     1994-04-29       2          XYTRONYX INC   3.750   8800.0
            09     1994-09-30       2          XYTRONYX INC   4.125  22700.0

                        RET  SHROUT  DOLLAR VOL   MKT CAP
PERMNO year month
10006  1962 07     0.022727  1453.0    0.168750  0.098077
            08     0.009398  1453.0    0.114113  0.097533
            09    -0.003922  1453.0    0.095250  0.092266
            10     0.007407  1453.0    0.027200  0.098804
            11    -0.020168  1453.0    0.094738  0.105887
...                     ...     ...         ...       ...
93236  1994 01    -0.018182  4073.0    0.102600  0.027493
            02     0.000000  4073.0    0.064400  0.023420
            03     0.047619  4760.0    0.172700  0.026180
            04    -0.032258  4760.0    0.033000  0.017850
            09    -0.057143  4913.0    0.093637  0.020266

[1010498 rows x 9 columns]

In [23]:
# Get each stock's monthly return
df_AMEX_NYSE_monthly_prices['MONTHLY RETURNS'] = df_AMEX_NYSE_monthly_prices.groupby(['PERMNO', 'year'])['PRC'].pct_change()

In [24]:
df_AMEX_NYSE_monthly_prices

                         date  EXCHCD                COMNAM     PRC      VOL  \
PERMNO year month
10006  1962 07     1962-07-02       1  A C F INDUSTRIES INC  62.000   1700.0
            08     1962-08-01       1  A C F INDUSTRIES INC  66.500   2300.0
            09     1962-09-04       1  A C F INDUSTRIES INC  66.000   1700.0
            10     1962-10-01       1  A C F INDUSTRIES INC  62.500   1600.0
            11     1962-11-01       1  A C F INDUSTRIES INC  69.250   2500.0
...                       ...     ...                   ...     ...      ...
93236  1994 01     1994-01-03       2          XYTRONYX INC   8.625  14300.0
            02     1994-02-01       2          XYTRONYX INC   6.750  10200.0
            03     1994-03-01       2          XYTRONYX INC   6.125  33000.0
            04     1994-04-04       2          XYTRONYX INC   5.375  28900.0
            09     1994-09-01       2          XYTRONYX INC   5.250  19200.0

                        RET  SHROUT  DOLLAR VOL   MKT CAP  MONTHLY RETURNS
PERMNO year month
10006  1962 07     0.050847  1453.0    0.105400  0.090086              NaN
            08    -0.014815  1453.0    0.152950  0.096625         0.072581
            09    -0.016760  1453.0    0.112200  0.095898        -0.007519
            10    -0.015748  1453.0    0.100000  0.090813        -0.053030
            11     0.018382  1453.0    0.173125  0.100620         0.108000
...                     ...     ...         ...       ...              ...
93236  1994 01     0.045455  4073.0    0.123338  0.035130              NaN
            02     0.000000  4073.0    0.068850  0.027493        -0.217391
            03     0.065217  4073.0    0.202125  0.024947        -0.092593
            04    -0.022727  4760.0    0.155337  0.025585        -0.122449
            09    -0.066667  4813.0    0.100800  0.025268        -0.023256

[1010498 rows x 10 columns]

In [25]:
df_AMEX_NYSE_monthly_portfolios = df_AMEX_NYSE_monthly_prices.groupby(['year', 'month'])

monthly_portfolio_returns = []
new_index = []

for (year, month), group in df_AMEX_NYSE_monthly_portfolios:
    new_index.append((year, month))
    col = group['MONTHLY RETURNS']
    L = len(col)
    ret = col.values/L
    ret = np.nansum(ret, axis=0)
    monthly_portfolio_returns.append(ret)

df_AMEX_NYSE_monthly_portfolio_returns = pd.DataFrame(monthly_portfolio_returns, index=new_index, columns=['RET'])

In [26]:
# Now we have the market portfolio monthly returns by equal weight
df_AMEX_NYSE_monthly_portfolio_returns.index = pd.MultiIndex.from_tuples(df_AMEX_NYSE_monthly_portfolio_returns.index, names=['year', 'month'])
df_AMEX_NYSE_monthly_portfolio_returns

                 RET
year month
1962 07     0.000000
     08     0.042751
     09     0.024628
     10    -0.068088
     11    -0.014824
...              ...
1999 08    -0.020672
     09    -0.027273
     10    -0.037617
     11    -0.008480
     12     0.004345

[450 rows x 1 columns]

In [27]:
# Now find market portfolio illiquidity
# Begin by finding daily illquidity of all stocks

# Get the number of valid observation days in each month. Have to do this again as a number of stocks were dropped when we last used this method
df_valid_obs_days = df_AMEX_NYSE.groupby(level=['PERMNO', 'year', 'month'])['date'].count()
df_valid_obs_days.to_frame()

# Create a column of ratio of return to dollar volume. On the days where volume is zero, do we still include that day as a valid observation day? 
# We cant divide by zero so we have to set that value to 0 in the sum rather than +/- inf
df_AMEX_NYSE['ILLIQUIDITY'] = np.abs(df_AMEX_NYSE['RET']) / df_AMEX_NYSE['DOLLAR VOL']
df_AMEX_NYSE['ILLIQUIDITY'] = df_AMEX_NYSE['ILLIQUIDITY'].fillna(0)
df_AMEX_NYSE['ILLIQUIDITY'] = df_AMEX_NYSE['ILLIQUIDITY'].replace([np.inf, -np.inf], 0)

# Create a series with just the illiquidity sum for each valid month
df_illiquidity_sum = df_AMEX_NYSE.groupby(['PERMNO', 'year', 'month'])['ILLIQUIDITY'].sum()
df_illiquidity_sum.to_frame()

/var/folders/jh/856h9_sn1lz5_78rcks0zf8c0000gn/T/ipykernel_1676/2862506113.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_AMEX_NYSE['ILLIQUIDITY'] = np.abs(df_AMEX_NYSE['RET']) / df_AMEX_NYSE['DOLLAR VOL']
/var/folders/jh/856h9_sn1lz5_78rcks0zf8c0000gn/T/ipykernel_1676/2862506113.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_AMEX_NYSE['ILLIQUIDITY'] = df_AMEX_NYSE['ILLIQUIDITY'].fillna(0)
/var/folders/jh/856h9_sn1lz5_78rcks0zf8c0000gn/T/ipykernel_1676/2862506113.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_AMEX_NYSE['ILLIQUIDITY'] = df_AMEX_NYSE['ILLIQUIDITY'].replace([np.inf, -np.inf], 0)

                   ILLIQUIDITY
PERMNO year month
10006  1962 07        5.472508
            08        2.486218
            09        1.918960
            10        1.932039
            11        1.598859
...                        ...
93236  1994 01        3.640982
            02        3.241485
            03       11.063862
            04       10.356297
            09        9.279529

[1010498 rows x 1 columns]

In [28]:
# We can now compute illiquidity values for each stock for each month of each year
df_illiquidity = df_illiquidity_sum.div(df_valid_obs_days, level=0)

In [29]:
df_illiquidity = df_illiquidity.to_frame()
df_illiquidity = df_illiquidity.rename(columns={0: 'ILLIQUIDITY'})

In [30]:
df_illiquidity

                   ILLIQUIDITY
PERMNO year month
10006  1962 07        0.260596
            08        0.108096
            09        0.100998
            10        0.084002
            11        0.079943
...                        ...
93236  1994 01        0.173380
            02        0.170604
            03        0.481037
            04        0.545068
            09        0.441882

[1010498 rows x 1 columns]

In [31]:
# Now we get monthly market cap ratios as defined in the paper
df_AMEX_NYSE_monthly_portfolio_caps = df_AMEX_NYSE_monthly_caps.groupby(['year', 'month'])

monthly_portfolio_caps = []
new_index = []

for (year, month), group in df_AMEX_NYSE_monthly_portfolio_caps:
    new_index.append((year, month))
    col = group['MKT CAP']
    L = len(col)
    cap = col.values/L
    cap = np.nansum(cap)
    monthly_portfolio_caps.append(cap)

df_AMEX_NYSE_monthly_portfolio_caps = pd.DataFrame(monthly_portfolio_caps, index=new_index, columns=['CAP'])

In [32]:
# Now we have the market portfolio monthly caps by equal weight
df_AMEX_NYSE_monthly_portfolio_caps.index = pd.MultiIndex.from_tuples(df_AMEX_NYSE_monthly_portfolio_caps.index, names=['year', 'month'])
df_AMEX_NYSE_monthly_portfolio_caps

                 CAP
year month
1962 07     0.193086
     08     0.195999
     09     0.183379
     10     0.186934
     11     0.209586
...              ...
1999 08     3.605570
     09     3.541125
     10     3.785099
     11     3.833134
     12     3.997215

[450 rows x 1 columns]

In [33]:
# We now need the cap ratios to the cap of July 1962
base = df_AMEX_NYSE_monthly_portfolio_caps.loc[('1962', '07'), 'CAP']
df_AMEX_NYSE_monthly_portfolio_caps['RATIO'] = df_AMEX_NYSE_monthly_portfolio_caps['CAP'] / base

In [34]:
df_AMEX_NYSE_monthly_portfolio_caps

                 CAP      RATIO
year month
1962 07     0.193086   1.000000
     08     0.195999   1.015085
     09     0.183379   0.949728
     10     0.186934   0.968135
     11     0.209586   1.085454
...              ...        ...
1999 08     3.605570  18.673357
     09     3.541125  18.339596
     10     3.785099  19.603148
     11     3.833134  19.851917
     12     3.997215  20.701700

[450 rows x 2 columns]

In [35]:
# Now we can find the illiquidity adjustments c as described in the paper
# To do so we first combine our illiquidity and cap dataframe so that each stock for each month of each year is multiplied by the correct ratio from the cap dataframe

df_illiquidity['ADJUSTED ILLIQUIDITY'] = np.zeros(len(df_illiquidity))

for index in df_illiquidity.index:
    pos = index[1:3]
    ratio = df_AMEX_NYSE_monthly_portfolio_caps.loc[pos, 'RATIO']
    df_illiquidity.loc[index, 'ADJUSTED ILLIQUIDITY'] = df_illiquidity.loc[index, 'ILLIQUIDITY'] * ratio

In [ ]:
df_illiquidity

                   ILLIQUIDITY  ADJUSTED ILLIQUIDITY
PERMNO year month
10006  1962 07        0.260596              0.260596
            08        0.108096              0.107160
            09        0.100998              0.094669
            10        0.084002              0.081216
            11        0.079943              0.087166
...                        ...                   ...
93236  1994 01        0.173380              1.477073
            02        0.170604              1.399109
            03        0.481037              3.758006
            04        0.545068              4.308523
            09        0.441882              3.542607

[1010498 rows x 2 columns]

In [ ]:
# Now we can compute c
df_illiquidity['c'] = np.minimum(0.25 + 0.3 * df_illiquidity['ADJUSTED ILLIQUIDITY'], 30.)

In [ ]:
df_illiquidity

                   ILLIQUIDITY  ADJUSTED ILLIQUIDITY         c
PERMNO year month
10006  1962 07        0.260596              0.260596  0.328179
            08        0.108096              0.107160  0.282148
            09        0.100998              0.094669  0.278401
            10        0.084002              0.081216  0.274365
            11        0.079943              0.087166  0.276150
...                        ...                   ...       ...
93236  1994 01        0.173380              1.477073  0.693122
            02        0.170604              1.399109  0.669733
            03        0.481037              3.758006  1.377402
            04        0.545068              4.308523  1.542557
            09        0.441882              3.542607  1.312782

[1010498 rows x 3 columns]

In [ ]:
df_AMEX_NYSE_monthly_portfolios_illiquidity = df_illiquidity.groupby(['year', 'month'])

monthly_portfolio_illiquidity = []
new_index = []

for (year, month), group in df_AMEX_NYSE_monthly_portfolios_illiquidity:
    new_index.append((year, month))
    col = group['c']
    L = len(col)
    c = col.values/L
    c = np.nansum(c, axis=0)
    monthly_portfolio_illiquidity.append(c)

df_AMEX_NYSE_monthly_portfolios_illiquidity = pd.DataFrame(monthly_portfolio_illiquidity, index=new_index, columns=['c'])

In [ ]:
# Now we have the market portfolio monthly returns by equal weight
df_AMEX_NYSE_monthly_portfolios_illiquidity.index = pd.MultiIndex.from_tuples(df_AMEX_NYSE_monthly_portfolios_illiquidity.index, names=['year', 'month'])
df_AMEX_NYSE_monthly_portfolios_illiquidity

                   c
year month
1962 07     1.005843
     08     0.923164
     09     0.961230
     10     1.001880
     11     0.954878
...              ...
1999 08     1.302526
     09     1.318484
     10     1.406681
     11     1.314335
     12     1.182815

[450 rows x 1 columns]

In [ ]:
# Now we form our 25 illiquidity portfolios from the original data from 1964 to 1999 
df_AMEX_NYSE_restricted = df_AMEX_NYSE